<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMx7zq6s6jV51uDn_9MCVNqQWOtNCw7sk</string>
	<key>GCM_SENDER_ID</key>
	<string>827103172443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solinovation.biouwa</string>
	<key>PROJECT_ID</key>
	<string>wevenue-f9502</string>
	<key>STORAGE_BUCKET</key>
	<string>wevenue-f9502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827103172443:ios:10d04be478e5d916fa6c7e</string>
</dict>
</plist>